[defaults]
roles_path = roles
inventory = inventory.example
retry_files_enabled = False
host_key_checking = False
stdout_callback = yaml
callback_whitelist = timer, profile_tasks

[privilege_escalation]
become = True
become_method = sudo

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
